*#
*~
auto-save-list/
elpa/
straight/build*
straight/repos/
comint-history/
ido.last
recentf
tramp
transient/
image-dired/
persist/
.lsp-session-v1
projectile-bookmarks.eld
session*
bookmarks
org-roam.db
projectile.cache
.org-id-locations
fontaine-latest-state.eld
network-security.data