*#
*~
auto-save-list/
comint-history/
eln-cache/
elpa/
image-dired/
persist/
straight/build*
straight/repos/
transient/
ido.last
recentf
tramp
.lsp-session-v1
projectile-bookmarks.eld
session*
bookmarks
org-roam.db
projectile.cache
.org-id-locations
fontaine-latest-state.eld
network-security.data